<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <title>FreiesNetz - Idee</title>

    <!-- meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Learn more about us">
    <meta name="keywords" content="">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <!-- set base -->
    <base href="../">

    <!-- open graph -->
    <meta property="og:url" content="https://www.freiesnetz.at/page/about.html">
    <meta property="og:type" content="website">
    <meta property="og:title" content="FreiesNetz - Idee">
    <meta property="og:description" content="Learn more about us">
    <meta property="og:image" content="{{page.image}}">

    <!-- icons -->
    <link theme-icon="" href="files/favicon2.png" rel="icon">
    <meta theme-color="" content="#888" name="msapplication-TileColor">
    <meta theme-color="" content="#888" name="msapplication-TileImage">
    <link theme-icon="" href="files/favicon2.png" rel="apple-touch-icon">

    <!-- font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- css -->
    <link type="text/css" href="css/site.min.css" rel="stylesheet">

    <!-- google maps -->
    <!-- <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script> -->

    

  <style respond-settings></style></head>

  <body class="content" data-lastmodified="2020-05-06T20:41:44+0000" data-template="default" data-tags="" show-cart="false">

    <header role="banner">

      <nav class="navbar navbar-expand-md navbar-light justify-content-end">

        <a class="navbar-brand" href="index"><img theme-logo="" src="files/freiesnetz-logo7.png"></a>

        <div id="header-primary-menu" class="primary-menu collapse navbar-collapse">

          <ul respond-plugin="" type="menu" menu="primary" class="navbar-nav ml-auto"><li><a class="nav-link" href="https://map.funkfeuer.at/nodemap/map-freiesnetz.html">Wien-Map &nbsp; |</a></li><li class="nav-item active "><a class="nav-link" href="page/about.html">Idee</a></li><li><a class="nav-link" href="page/faq.html">FAQ</a></li><li><a class="nav-link" href="gallery.html">Fotos</a></li><li><a class="nav-link" href="page/contact.html">Kontakt</a></li></ul>

        </div>

        <div class="header-actions">

          <a class="header-action d-md-none" data-toggle="collapse" data-target="#header-primary-menu">
            <i class="material-icons">menu</i>
          </a>

          <a class="header-action" respond-cart="" cart-toggle="">
            <i class="material-icons">shopping_cart</i> <span cart-total="">$0.00</span>
          </a>

          <a class="header-action" respond-search="">
            <i class="material-icons">search</i>
          </a>

        </div>

      </nav>

    </header>
    <!-- /header -->

    <main role="main">

 <div class="row full-width center-content top-half-spacing bottom-no-spacing">
 <div class="col col-md-12">
 <h1>Idee "FreiesNetz"</h1>

 <div class="divider"><span></span></div>
 </div>
 </div>

 <div class="row top-half-spacing bottom-big-spacing">
 <div class="col col-md-12">
 <h3>Was?</h3><p>FreiesNetz ist eine offene Initiative für alle Computer-Netzwerke. Es soll dabei ein gemeinsam reguliertes Netz entstehen, welches das Potential hat, den digitalen Graben zwischen den sozialen Schichten zu überbrücken und so jedem Menschen bestmögliche Infrastruktur und Wissen zur Verfügung zu stellen.
Jede Person stellt ihren Knoten anderen Personen zur Datenübertragung nach den Grundsätzen des Pico Peering Agreement zur Verfügung und ermöglicht damit freien Datenverkehr innerhalb des Netzes. Jeder Knoten im Netz wird von Freiwilligen aufgebaut und betrieben, die Community stellt dazu Know-How und auch praktische Hilfen bereit.</p><p>Das Wort "frei" in unserem Namen bezieht sich nicht auf den Preis, es bezieht sich auf Freiheit:</p>
 <ul data-text-alignment="left" style="text-align: left;"><li>Die Freiheit, einen Knoten-Aufbau zu kopieren und an eure Nachbarn weiterzugeben, so dass sie das Netzwerk ebenso wie ihr nutzen können.</li><li>Die Freiheit, im Netz selbst mit zu wirken, so dass ihr das Netzwerk beherrscht und nicht das Netzwerk euch; zu diesem Zwecke muss euch der Zugang bzw. Konfigurationen verfügbar gemacht sein.</li></ul><h3>Wie?</h3>
 <blockquote>Alle Knoten im Netz kommunizieren hierarchielos untereinander und bilden ein gemeinsames Funknetzwerk über den Dächern. Dabei gibt es keine Zentrale, jeder Knoten ist mit mehreren anderen Knoten verbunden. Wenn ein Knoten aus dem Netzwerk ausfällt suchen dessen Nachbarn automatisch eine anderen Weg durchs Netz. Einige Knoten bilden einen direkten Übergang ins Internet, womit alle Menschen im Netz Teil des globalen Internets sind.</blockquote><h3>Mitmachen?</h3><p>Jeder kann mitmachen, wir bauen unser Netzwerk selbst!</p>
 
 <h3>Wo?</h3><p>Bisher deckt das Netzwerk den Bereich Wien und Umgebung ab.</p><p>Historie der betreuten Standorte: (derzeit in Summe 60, davon 56 aktiv)</p><blockquote><div>seit - Bezirk - Name</div><div>2010 - 1140 - bec2</div><div><span style="font-size: 1em;">2013 - 1150 - fen42</span><br></div><div>2013 - 1170 - duer9</div><div>2013 - 1230 - bfs256</div><div>2013 - 1160 - fl49</div><div>2013 - 1190 - gri8 (derzeit inaktiv)</div><div>2013 - 1190 - gri121</div><div>2013 - 1190 - hw48</div><div>2013 - 1150 - kobe4</div><div>2013 - 1090 - lat7 (derzeit inaktiv)</div><div>2013 - 1190 - mh</div><div>2013 - 1140 - ows0</div><div>2013 - 1090 - wuk</div><div>2013 - 1110 - zsig5</div><div><span style="font-size: 1em;">2014 - 1150 - arn22</span><br></div><div>2014 - 1140 - bm5</div><div>2014 - 1090 - frieden</div><div>2014 - 1130 - gob34 (Dachrenovierung 2018/2019)</div><div>2014 - 1170 - gs15</div><div>2014 - 1100 - nessus (@0xff)<br><div>2015 - 1170 - bal3</div><div>2015 - 1180 - cza44</div><div>2015 - 1130 - feh39</div><div>2015 - 1190 - gri106</div><div>2015 - 1120 - oswald5</div><div>2015 - 1140 - ows2</div><div>2015 - 1100 - quell165</div><div>2015 - 1130 - veit53 (Dachrenovierung 2018/2019)</div><div>2016 - 1010 - goz19</div><div>2016 - 1210 - jed99</div><div>2016 - 1010 - kr3</div><div>2016 - 1140 - lsg33</div><div>2016 - 1140 - nacht11 (@schulti)</div><div>2016 - 1220 - pod41</div><div>2016 - 1020 - vor203</div><div><span style="font-size: 1em;">2017 - 1100 - lax2</span><br></div><div>2017 - 2100 - biss (@akku)&nbsp;</div><div>2018 - 1190 - ber13</div><div>2018 - 1020 - eng196</div><div>2018 - 1020 - obdo9</div><div>2018 - 1170 - ros78</div><div>2019 - 1030 - bea14</div><div>2019 - 1160 - gau47</div><div>2019 - 1210 - kol33</div><div>2019 - 1210 - lhg12<br><div>2019 - 1170 - ver12</div><div><span style="font-size: 1em;">2019 - 1160 - koh20 (derzeit inaktiv, Übersiedlung, war:&nbsp;</span><span style="font-size: 1em;">2010 - 1160 - mat4</span><span style="font-size: 1em;">)</span></div><div>2019 - 1210 - kss8<br></div></div></div><div>2019 - 1040 - kol16</div><div>2019 - 1040 - wdn42 (derzeit inaktiv)</div><div><span style="font-size: 1em;">2019 - 1180 - naa14</span><br></div><div><span style="font-size: 1em;">2019 - 1090 - koli6</span><br></div><div>2019 - 1050 - vcg10 (cas9)</div><div>2019 - 1060 - dom13</div><div><span style="font-size: 1em;">2019 - 1020 - vor158</span><br></div><div>2020 - 1140 - gurk46<span style="font-size: 1em;"><br></span></div><div>2020 - 1090 - hahn14</div><div>2020 - 1010 - heg15</div><div>2020 - 1130 - gob27</div><div>2020 - 1090 - clu10</div><div><br></div></blockquote></div>
 </div>

 </main>

    <footer role="contentinfo">

      <div class="container">
        <div class="row">
          <div class="col col-md-6">
            <h3>Kontakt</h3>
            <p>Telefonisch erreichbar unter 01/2365060 oder per E-Mail <a href="mailto:freiesnetz@freiesnetz.at">freiesnetz@freiesnetz.at</a></p>
          </div>
          <div class="col col-md-6">
            <h3>About</h3>
            <p>This default site is powered by <a href="http://respondcms.com">Respond CMS</a>. Respond CMS is an open source content management system that you can use to build beautiful, responsive websites. The latest version features Bootstrap 3.0, robust themes, a complete REST API, and a beautiful UI. Images from <a href="https://unsplash.com/">Unsplash</a>.</p>
          </div>
        </div>
        <div class="row">
          <div class="col col-md-12">
            <ul respond-plugin="" type="menu" menu="footer"><li><a class="nav-link" href="https://map.funkfeuer.at/nodemap/map-freiesnetz.html">Map</a></li><li class="nav-item active "><a class="nav-link" href="page/about.html">Idee</a></li><li><a class="nav-link" href="gallery.html">Fotos</a></li><li><a class="nav-link" href="page/contact.html">Kontakt</a></li></ul>
          </div>
        </div>
      </div>
      <!-- /.container -->
      <div respond-plugin="" type="cart"></div>

    </footer>
    <!-- /footer -->

  </body>

  <!-- js -->
  <script src="js/site.all.js"></script>

  

</html>